h1 {
  text-align: center;
}
h2 {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 5px;
}

.flexContainer1 {
  border: 1px solid lightgray;
  padding: 10px;
  display: flex;
  gap: 10px;
}

.flexContainer1 > div {
  background-color: lightblue;
  width: 80px;
  height: 80px;

  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
